:root {
    --se: #262626bf;
    --se-hover: #313131bf;
    --se-pressed: #161616bf;

    --usual: #FFFFFF;
    
    --act: #9d4eed;
    --act-hover: #8646c5;
    --act-pressed: #6a3c97;

    --secondary-act: #581F93;
    --secondary-act-hover: #4e1d83;
    --secondary-act-pressed: #41186d;

    --border-color: #202020;

    --gray-background: #343434;
}

.connections-div{
    display: flex;

    flex: 1;

    margin-left: calc(13 / 1400 * 100 * 1vw);
    margin-right: calc(13 / 1400 * 100 * 1vw);

    align-self: center;
}

.connections {
    /* width: calc(453 / 1400 * 100 * 1vw); */
    width: 100%;
    height: calc(226 / 837 * 70 * 1vh);
}
  

.background {
    /* background-color: lightgray 0% 0% / 50px 50px repeat;
    background-image: url("@res/background.png"),  linear-gradient(113deg, #212020 0%, #000 100%); */


    width: 100vw;
    height: 100vh;
}

.main-box {
    display: flex;
    flex-direction: row;
}

.left-box {
    display: flex;

    flex-direction: column;

    margin-left: calc(35 / 1400 * 100 * 1vw);
    margin-top: calc(50 / 837 * 100 * 1vh);;
    flex: 2;
    margin-right: calc(24 / 1400 * 100 * 1vw);;
}

.special-title {
    color: var(--act);
    /* font-size: 32px; */
    font-style: italic;
    font-weight: 250;
    font-family: "Skolar Cyrillic-Italic";
}

.upload-button {
    display: inline-flex;
    flex-shrink: 0;

    padding: 0px calc(217 / 1400 * 100 * 1vw) 0px calc(17 / 1400 * 100 * 1vw);

    align-items: center;

    background-color: #262525bf;

    border: 2px solid;
    border-color: var(--se);
    border-radius: 15px;

    height: calc(69 / 837 * 100 * 1vh);

    min-height: 45px;

    max-height: 69px;

    overflow: hidden;
    position: relative;

    /*width: 409px;*/
}

.upload-button:hover {
    background-color: var(--se-hover);
}

.upload-button:active {
    background-color: var(--se-pressed);
}

.upload-files-label {
    font-family: "Skolar Cyrillic-Regular";
    color: transparent;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.usual-text {
    color: var(--usual);
}

.highlighted-text {
    color: var(--act);
}

.highweight-title {
    font-family: "Skolar Cyrillic-Regular";
    font-weight: 600;
    line-height: 35px;  
    font-style: normal;
    color: transparent;
    
    /* margin-top: calc(18 / 837 * 100 * 1vh); */
}

.simple-paragraph {
    font-family: "Skolar Cyrillic-Regular";
    font-weight: 400;
    font-style: normal;

    line-height: normal;

    color: transparent;

    font-size: 1.25rem;

    margin: inherit;
}

.right-box {
    /* height: fit-content; */
    display: flex;

    flex: 1;

    margin-top: calc(35 / 837 * 100 * 1vh);
    margin-right: calc(35 / 1400 * 100 * 1vw);
    margin-bottom: calc(35 / 837 * 100 * 1vh);
}

.info-box {
    padding: calc(18 / 837 * 100 * 1vh) calc(26 / 1400 * 100 * 1vw);

    display: flex;

    flex-direction: column;

    border-radius: 15px;
    border: 2px solid var(--se, rgba(38, 38, 38, 0.75));
    background: var(--se, rgba(38, 38, 38, 0.75));
}

.info-list-part {
    margin-top: calc(12 / 837 * 100 * 1vh);
    margin-bottom: calc(33 / 837 * 100 * 1vh);
    margin-right: calc(34 / 1400 * 100 * 1vw);
}

.zero-margin {
    margin: 0;
}

.question-label {
    margin-bottom: calc(12 / 837 * 100 * 1vh);
}

.box-margin {
    margin-left: calc(26 / 1400 * 100 * 1vw);
    margin-top: calc(18 / 837 * 100 * 1vh);
    margin-bottom: calc(37 / 837 * 100 * 1vh);
}

.import-desc-box {
    margin-bottom: calc(25 / 837 * 100 * 1vh);
}

.import-button-div {
    display: flex;

    flex: 1;

    align-items: flex-end;
}

.import-button {
    padding: calc(9 / 837 * 100 * 1vh) calc(26 / 1400 * 100 * 1vw);     
    justify-content: center;
    align-items: center;
    display: inline-flex;

    border-radius: 10px;

    background: var(--secondary-act);

    border-color: transparent;
}

.import-button:hover {
    background: var(--secondary-act-hover);
}

.import-button:active {
    background: var(--secondary-act-pressed);
}

/* @media (max-height: 790px) {
    .simple-paragraph{
        font-size: 16px;
    }

    .highweight-title{
        font-size: 21px;
    }
} */

.simple-link {
    text-decoration: none;
}