@import url('StartPage.css');

.left-box {
    margin-left: calc(40 / 1400 * 100 * 1vw);
    margin-top: calc(50 / 837 * 100 * 1vh);
    margin-right: calc(24 / 1400 * 100 * 1vw);
    margin-bottom: calc(35 / 837 * 100 * 1vh);

    flex: 2;

    height: 90vh;
}

.up-bar{
    display: flex;

    flex-direction: row;

    align-items: center;
}

.your-notes {
    display: flex;

    flex-direction: row;

    align-items: center;
}

.your-notes-margin {
    margin-right: calc(25 / 1400 * 100 * 1vw);
}

.searchbardiv{    
    flex-direction: row-reverse;

    flex: 1;

    display: flex;

}

.searchbar{
    display: inline-flex;

    flex-direction: row;

    padding: calc(10 / 837 * 100 * 1vh) calc(20 / 1400 * 100 * 1vw);
    
    align-items: center;

    width: calc(400 / 1400 * 100 * 1vw);

    height: calc(55 / 837 * 100 * 1vh);

    min-height: 3rem;

    max-height: 3.5rem;


    border-radius: 50px;
    border: 3px solid var(--border-color);
    background: var(--gray-background);
}


.wand-div{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;

    /* width: calc(34 / 1400 * 100 * 1vw);
    height: calc(33 / 837 * 100 * 1vh); */
}

.wand {
    height: calc(33 / 837 * 100 * 1vh);
    min-height: 2rem;
    max-height: 3.5rem;
}



.list-div {
    display: flex;
    flex-grow: 1;
    height: 80%;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item-line {
    margin-right: calc(25 / 1400 * 100 * 1vw); 
    width: 10px;       
}

.list-item-button{
    display: flex;

    flex: 1;

    border-radius: 15px;
    border: 2px solid var(--fill-stroke, rgba(38, 38, 38, 0.75));
    background: var(--fill-stroke, rgba(38, 38, 38, 0.75));

    color: white;

    padding: calc(16 / 837 * 100 * 1vh) calc(17 / 1400 * 100 * 1vw);

    align-items: center;

    height: 80%;
}

.list-item-button-on{
    display: flex;

    flex: 1;

    border-radius: 15px;

    background: var(--fill-stroke, rgba(38, 38, 38, 0.75));

    color: white;

    padding: calc(16 / 837 * 100 * 1vh) calc(17 / 1400 * 100 * 1vw);

    align-items: center;

    height: 80%;

    border: 2px solid var(--accent, #9D4EED);
}

.list-item-button-off{
    display: flex;

    flex: 1;

    border-radius: 15px;

    background: var(--fill-stroke, rgba(38, 38, 38, 0.75));

    color: white;

    padding: calc(16 / 837 * 100 * 1vh) calc(17 / 1400 * 100 * 1vw);

    align-items: center;

    height: 80%;

    border: 2px solid var(--fill-stroke, rgba(38, 38, 38, 0.75));
}


.name-label-div {
    display: flex;
    width: 100%;
}

.file-action-button-div{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.cross-button {
    opacity: 0.6;
    background-color: transparent;
    border-color: transparent;
}


.file-trigger {
    background-color: transparent;
    border-color: transparent;
}

.cross-button:hover{
    opacity: 1;
}

.cross-button:active{
    opacity: 0.3;
}


.list-item-button-on:hover, .list-item-button-off:hover{
    background: var(--fill-stroke, rgba(66, 65, 65, 0.75));
}

.list-item-button-on:active, .list-item-button-off:active{
    background: var(--fill-stroke, rgba(19, 19, 19, 0.75));
}

.scrollbar {
    overflow-y: hidden;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
    }
  
    &::-webkit-scrollbar {
      width: 0px;
      background-color: #f5f5f5;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #6e6e6e;
      border-radius: 3px;
    }
}


.bottom-div {
    display: flex;

    flex: 1;

    align-items: center;

    /* margin-top: calc(30 / 837 * 100 * 1vh); */

    flex-direction: row;
}

.upload-files-div {
    display: flex;

    flex-direction: row-reverse;

    flex: 1;

    align-self: flex-end;
}

.upload-files-button {
    display: flex;

    flex-direction: row;

    background-color: var(--se);
    padding: calc(14 / 837 * 100 * 1vh) calc(21 / 1400 * 100 * 1vw);

    /* justify-content: center; */
    align-items: center;

    border-radius: 10px;
    border: 2px solid var(--se, rgba(38, 38, 38, 0.75));
    background: var(--se, rgba(38, 38, 38, 0.75));
}

.upload-files-button:hover {
    background: var(--se-hover, rgba(38, 38, 38, 0.75));
}

.upload-files-button:active {
    background: var(--se-pressed, rgba(38, 38, 38, 0.75));
}

.plus{
    margin-right: calc(15 / 1400 * 100 * 1vw);
}

.new-space-div {
    display: flex;

    flex-direction: row;

    flex: 1;
}

.cancel-space-creation-button {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: calc(11 / 837 * 100 * 1vh) calc(33 / 1400 * 100 * 1vw);

    border-radius: 10px;
    border-color: transparent;

    background: var(--act);
}

.cancel-space-creation-button:hover {
    background: var(--act-hover);
}

.cancel-space-creation-button:active{
    background: var(--act-pressed);
}

.new-space-button {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: calc(11 / 837 * 100 * 1vh) calc(33 / 1400 * 100 * 1vw);

    border-radius: 10px;
    border-color: transparent;

    background: var(--secondary-act);
}

.new-space-button:hover{
    background: var(--secondary-act-hover);
}

.new-space-button:active{
    background: var(--secondary-act-pressed);
}

.right-box-info {
    display: flex ;

    max-height: 95vh;

    flex: 1;

    margin-top: calc(35 / 837 * 100 * 1vh);
    margin-right: calc(35 / 1400 * 100 * 1vw);
    margin-bottom: calc(35 / 837 * 100 * 1vh);

    border-radius: 15px;
    border: 2px solid var(--se, rgba(38, 38, 38, 0.75));
    background: var(--se, rgba(38, 38, 38, 0.75));

    overflow-y: auto;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
    }
  
    &::-webkit-scrollbar {
      width: 0px;
      background-color: #f5f5f5;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #6e6e6e;
      border-radius: 3px;
    }
}

.text-viewer {
    height: fit-content;
}

.info-box-content {
    /* display: flex; */

    height: fit-content;

    flex: 1;

    padding: calc(18 / 837 * 100 * 1vh) calc(26 / 1400 * 100 * 1vw);

    flex-direction: column;

}

